ErrorDocument 404 /404/


RewriteEngine On
RewriteOptions Inherit

# redirect non-www to www
RewriteCond %{HTTP_HOST} !\.dev$
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule (.*) https://www.%{HTTP_HOST}/$1 [R=301,L]

# redirect to https
RewriteCond %{HTTP_HOST} !\.dev$
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301]

Redirect 301 /facebook https://www.facebook.com/KengumediaDE/
Redirect 301 /twitter https://twitter.com/Kengumedia
Redirect 301 /gplus https://plus.google.com/+KengumediaDE
Redirect 301 /tbjosch http://tbjosch.kengumedia.de
